<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/sezaia_logo1"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sezaia"
        tools:targetApi="31">
        <activity
            android:name=".ui.screen.SuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.CreatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.DeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.ChangeNumberActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.ChangeEmailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.ChangeUsernameActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.TermsOfUseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.VerifyOtpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.ForgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.ChatbotActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.AppointmentActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screen.WelcomeChatbotActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.WelcomeAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screen.MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>